

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 44px;
    background-color: #313132;
    position: fixed;
    top: 0%;
    width: 100%;
    z-index: 1000;
    opacity: 0.985;
   

}

header ul{
    width: 100%;
    height: 100%;
    max-width: 1000px;
    display: flex;
    width: 65%;
    margin: auto;
    justify-content: space-between;
    color: #d6d6d6;


    
    
}

header li{
    list-style: none;
    color: #d6d6d6;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 12px;
    display: flex;
    margin: auto;
    align-items: center;
    margin-top: 1.5%;
    cursor: pointer;
    
}

.nav:hover{
    color: #ffffff;
}

#applelogo {
    width: 14px;
}

#search{
    width: 14px;
}

#shoppingbag{
    width: 13px;
} 

.information{
    display: flex;
    height: 72px;
    width: 100%;
    background-color: #f5f5f7;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

a {
    color: #0066cc;
    background-color: transparent;
    text-decoration: none;
    margin: 0px 0px 0px 14px;
}
  
a:hover{
   
    background-color: transparent;
    text-decoration: underline;
}

#uniceflogo{
    height: 35px;
    width: 130px;
}

#bluearrow{
    height: 10px;
    width: 10px;
}

/* Section 1 */

.section1{
    width: 100%;
    height: 580px;
    background-color: #fbfbfd;
    overflow: hidden;
   
}

.iPhone13{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
    
}

#maintext{
    display: flex;
    font-weight: 500;
    font-size: 55px;
    margin-top: 2%;
    z-index: 1;
}

#subtext{
    display: flex;
    
    font-weight: 400;
    font-size: 28px;
    z-index: 1;
}

#links{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    margin:1%;
    font-size: 22px;
    z-index: 1;
    
}

#iPhonefirst{
    width: 100%;
    scale: 200%;
    margin: -80px 0px 0px 0px;
    z-index: 0;
}


.blue-arrow{
    width: 10px;
}

.seperation{
    height: 10px;
    width: 100%;
    margin-top: 0%;
    background-color: #ffffff;
}

/* Section 2 */

.section2{
    width: 100%;
    height: 560px;
    background-color: #fbfbfd;
    overflow: hidden;
    border-style:solid;
    border-width: 15px 0px;
    border-color: #ffffff;
   
}

.iPhone13Pro{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
    
}

#maintextPro{
    display: flex;
    font-weight: 500;
    font-size: 55px;
    margin-top: 2%;
    z-index: 1;
}

#subtextPro{
    display: flex;
    
    font-weight: 400;
    font-size: 28px;
    z-index: 1;
}

#linksPro{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    margin:1%;
    font-size: 22px;
    z-index: 1;
    
}

#iPhonefirstPro{
    /* height: auto; */
    
    width: 100%;
    scale: 200%;
    margin: -120px 0px 0px 0px;
    z-index: 0;
}


.blue-arrow{
    width: 10px;
}




/* Section3 */

.section3{
    width: 100%;
    height: 560px;
    background-color: #fbfbfd;
    overflow: hidden;
    border-style: solid;
    border-width: 0px 0px 7px 0px;
    border-color: #ffffff;
   
}

.collage{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    
    
}

#maintextcollage{
    font-style: italic;
    display: flex;
    font-weight:500;
    font-weight: bold;
    font-size: 55px;
    margin-top: 2%;
    z-index: 1;
}

#subtextcollage{
    display: flex;
    
    font-weight: 400;
    font-size: 28px;
    z-index: 1;
}

#linkscollage{
    display: flex;
    flex-direction: row;
    font-weight: 400;
    margin:1%;
    font-size: 22px;
    z-index: 1;
    
}

#collageMac{
    
    
    width: 100%;
    scale: 200%;
    margin: -100px 0px 0px 0px;
    z-index: 0;
}


.blue-arrow{
    width: 10px;
}
    

.grid{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    padding: 1em;

}
.grid>div{
    min-height: 600px;
    background:#fbfbfd;
}

.align{
    
    text-align: center;
} 

#maintitle{
   

    font-weight:500;
    font-size: 40px;
    margin-top: 8%;
    z-index: 1;
}

#m2icon{
    
    width: 22%;
}

#linkMacAir{
    
    
    font-weight: 400;
    margin:1%;
    font-size: 18px;
    z-index: 1;
    
}

.blue-arrow{
    width: 10px;
}

#MacbookAir{
    background: url(/Apple/clone/images/macbookair2.png);
    background-size: cover;
    background-position: center;
}

#macbookairpro{
    
    background: url(/Apple/clone/images/macbookairpro.jpg);
    background-size: cover;
    background-position: center;
}



#m2icondark{
    
    width: 22%;
}

#iwatch{
    
    background: url(/Apple/clone/images/iwatchbg.jpg);
    background-size: cover;
    background-position: center;
}

#iwatchtitle{
    width: 25;
    margin-top: 10%;
}

#subtitle{
    font-weight: 400;
    font-size: 20px;
    z-index: 1;
}

#ipadair{
    
    background: url(/Apple/clone/images/ipadbg.jpg);
    background-size: cover;
    background-position: center;
}

#appleplay{
    background: url(/Apple/clone/images/appleplaybg.jpg);
    background-size: cover;
    background-position: center;
}

#super{
    vertical-align:super;
    font-size: small;
    }



#arcade{
    background: url(/Apple/clone/images/archadebg.jpg);
    background-size: cover;
    background-position: center;
}

.footer{
    padding: 10px;
    width: 100%;
    height: 950px;
    background: #f5f5f7;
    display: flex;
    justify-content: center;
    /* border-top: 5%; */
}

.content{
    
    margin: 0 auto;
    max-width: 980px;
    
}

#descrptionorder{
    font-size: 12px;
    color: #86868b;
}

.footerlinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 12px;
    color: #515154;
    margin-bottom: 10px;
    line-height: 2em;
}

.footercolumn{
    /* flex-direction: column; */
    max-width: 176px;
    
    
}

.footer-link-title{
    font-weight: 300;
    font-size: 15px;
    margin-top: 18px;
    margin-bottom: 15px;
    letter-spacing: 0.5px;
}

li{
    list-style: none;
}

.footerlink {
    color: #86868B;
    font-size: 12px;
    background-color: transparent;
    text-decoration: none;
    margin: 0px 0px 0px 0px;
}

.morefooter{
    color: #86868B;
    font-size: 12px;
    background-color: transparent;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid;
}
.copyrightfooter{
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    color: #86868b;
    margin-top: 6px;
    position: relative;

}

.linksfootercopyright{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%,-50%);
}

.linksfoot{
    color: #86868b;
    border-right: 1px solid;
    padding-right: 10px;
    white-space: nowrap;
}

.linksfootlast{
    color: #86868b;
    padding: 0 0px;
    border-right: none;
    margin-right: px;
    padding-right: 10px;
    white-space: nowrap;
}
.gallery {
    background: #EEE;
  }
  
  .gallery-cell {
    width: 66%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }
  
  /* cell number */
  .gallery-cell:before {
    display: block;
    text-align: center;
    content: counter(gallery-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }

  .slideimage img{
    width: 100%;
  }

  .slick-list{
    margin: 0px -20px !important;
  }
  .slick-slide{
    margin: 0px 10px;
  }
